html {
	scroll-behavior: smooth;
}

.wrapper {
	max-width: 920px;
	margin: 0 auto;
	font-size: 16px;
}
.title {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	color: #f36d33;
	background-color: #333;
}
a {
	color: #f36d33;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
pre {
	background: #f4f4f4;
	border: 1px solid #ddd;
	border-left: 3px solid #f36d33;
	color: #666;
	page-break-inside: avoid;
	font-family: monospace;
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1em 1.5em;
	display: block;
	word-wrap: break-word;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__logo img {
	margin-right: 10px;
	width: 50px;
}
.header__logo span {
	font-size: 22px;
	font-weight: bold;
}
.header__nav-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
}
.header__nav-item {
	margin: 0 10px;
}
.header__nav-item a {
	text-decoration: none;
	color: #333;
}
.header__nav-item a:hover {
	color: #f36d33;
	text-decoration: underline;
}
.main__title {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	margin: 20px 0;
	border-radius: 10px;
	background-color: #333;
}
.main__title h1 {
	margin-right: 10px;
	color: #f36d33;
}
.main__title img {
	width: 30px;
}
.cover img {
	width: 100%;
	margin-bottom: 20px;
	border-radius: 10px;
}
.contact__item {
	font-size: 16px;
	font-weight: bold;
}
.contact__item span {
	font-weight: 500;
}
.about__desc {
	display: flex;
	align-items: center;
}
.about__my-photo {
	width: 200px;
	border-radius: 10px;
	margin-bottom: 20px;
	margin-right: 10px;
}
.about__text {
}
.footer {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	background-color: #333;
	color: #f36d33;
}
.footer__rs-logo {
	width: 60px;
	filter: invert(100%);
}
.footer__gh-logo {
	width: 30px;
	filter: invert(100%);
}

.footer__rs-logo:hover {
	width: 60px;
	filter: invert(50%);
}
.footer__gh-logo:hover {
	width: 30px;
	filter: invert(50%);
}
